<style type="text/css">
footer{width: 100%;background: #ff00cc;}
footer a{display:inline-block;text-align: center;color: rgba(255,255,255,0.5);padding: 20px;font-size: 10px;}
footer a:hover{color: #fff;background: rgba(0,0,0,0.5);}
</style>
<footer>
	<a href="https://github.com/almaginetx">@Almaginetx en Github Versión 3.9.0</a>
	<a href="https://facebook.com/almaginet">@Almaginet en Facebook</a>
	<a href="https://twitter.com/almaginetx">@Almaginetx en Twitter</a>
	<a href="https://instagram.com/almaginetx">@Almaginetx en Instagram</a>
	<a href="https://youtube.com/almaginet">@Almaginet en Youtube</a>
	<a>Almaginet@gmail.com en Gmail</a>
	<a >(+593) 987154775 en Whatsapp</a>

</footer>